<div class="container">
	<div class="row justify-content-center align-items-center my-row">
		<div class="col-md-8 col-sm-10">

			<div class="card" style="margin-bottom: 2vh">
		        <div class="card-body">
		            <h3 class="card-title"><%= User.find(params[:user_id]).first_name %> <%= User.find(params[:user_id]).last_name %></h3>
		        	<h6 class="card-subtitle mb-2 text-muted"><%= User.find(params[:user_id]).age %> years old <br> 
		        		<%= City.find(User.find(params[:user_id]).city_id).zip_code %> <%= City.find(User.find(params[:user_id]).city_id).name %> </h6>
		            <hr>
		            <p class="card-text"> <%= User.find(params[:user_id]).description %></p>
		            <hr>
		            <h6 class="card-subtitle mb-2 text-muted"><%= User.find(params[:user_id]).email %> </h6>
		        </div>
		    </div>

		 </div>
	</div>
</div>